@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background: #00092c;
  font-family: "Inter", sans-serif;
}
.dot {
  font-size: 24px;
  opacity: 0.2;
  animation: none;
}

.dot-animate .dot {
  animation: blink 1.2s infinite;
}

.dot-animate .dot2 {
  animation-delay: 0.2s;
}

.dot-animate .dot3 {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}
