@import "tailwindcss";

body {
  background: #00092c;
}
.dot {
  font-size: 24px;
  opacity: 0.2;
  animation: none;
}

.dot-animate .dot {
  animation: blink 1.2s infinite;
}

.dot-animate .dot2 {
  animation-delay: 0.2s;
}

.dot-animate .dot3 {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}
