@import "tailwindcss";

body {
  background: #00092c;
}
.dot {
  display: inline-block;
  animation: blink 1.5s infinite;
  animation-delay: 0s;
}

.dot2 {
  animation-delay: 0.2s;
}

.dot3 {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
